@model KT20_59131580.Models.QuanAo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuanAo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenQA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XuatXu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XuatXu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhMinhHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhMinhHoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIQUANAO.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIQUANAO.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaQA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
